
@{
    ViewBag.Title = "MmDashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Marketing Manager Dashboard</h2>

<div class="list-group col-10">
<ul style=" font-size: 20px">
    <li class="list-group-item list-group-item-action list-group-item-warning">
        @Html.ActionLink("My profile", "MmProfile", "User_Marketing_Manager_Detail", new { @class = "text-decoration-none text-dark" })
    </li>
    <li class="list-group-item list-group-item-action list-group-item-info">
        @Html.ActionLink("Manage Contributions", "Mm_ContributionManagements", "User_Marketing_Manager_Detail", new { @class = "text-decoration-none text-dark" })
    </li>
    <li class="list-group-item list-group-item-action list-group-item-light">
        @Html.ActionLink("Report", "Chart", "Report", null, new { @class = "text-decoration-none text-dark" })
    </li>
</ul>
</div>


