@model List<string>
@{
    ViewBag.Title = "Download";

}
<title>Satyaprakash File Download In Zip</title>
<link href="~/App_Content/CSS/bootstrap.min.css" rel="stylesheet" />
<link href="~/App_Content/CSS/font-awesome.min.css" rel="stylesheet" />
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button4 {
        border-radius: 9px;
    }
</style>

<h1>Collection Of Files</h1>

<link href="~/Scripts/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/sweetalert.js"></script>


<div align="center">
    <table align="center" border="1" cellpadding="4" cellspacing="4">
        <thead>
            <tr>
                <th style="background-color: Yellow;color: blue">Select</th>
                <th style="background-color: Yellow;color: blue">File Name</th>
            </tr>
        </thead>
        @using (Html.BeginForm("ProcessForm", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            foreach (string file in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="fileUpload"
                               name="selectedfiles" value="@file" />
                    </td>
                    <td style="color: blue">@file</td>
                </tr>

            }
            <tr>
                <td colspan="2">
                    <input type="submit" id="fileUploadExcel" onclick="return validateData();" class="button button4" value="Download" />
                </td>
            </tr>

        }
        <script>
            //code for validation using checkbox
            function validateData() {
                if ($('[type="checkbox"]').is(':checked')) {
                    sweetAlert("Congratulations!!", "Your file is downloaded", "success");
                    return true;
                }
                else if ($('[type="checkbox"]').not(':checked')) {
                    sweetAlert("Selection Was Empty!!", "Please select at least one", "error");
                    return false;
                }
                else {
                    sweetAlert("Selection Was Empty!!", "Please select at least one", "error");
                    return false;
                }
            }
        </script>

    </table>
</div>


