@{
    ViewBag.Title = "Login";
}


<div class="jumbotron">
    <div class="login-box">
        <h1>Login</h1>
        <div class="form-group">
            <hr class="my-4">
            <div class="textbox">
                <i class="fas fa-user"></i>
                <label class="col-form-label col-form-label-lg" for="inputLarge">Username</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Username">
            </div>

            <div class="textbox">
                <i class="fas fa-lock"></i>
                <label class="col-form-label col-form-label-lg" for="inputLarge">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <p class="account"><a href="#">Forgot your password ?</a></p>
            <input type="button" class="btn btn-primary btn-lg" value="Sign in">

        </div>
    </div>
</div>

