
@{
    ViewBag.Title = "Marketing_ManagerDashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Marketing_ManagerDashBoard</h2>

<div class="list-group">
    <ul style=" font-size: 20px">
        <li>
            @Html.ActionLink("Dashboard", "DashboardReport", "Marketing_Manager")
        </li>
        <li>
            @Html.ActionLink("My profile", "Marketing_ManagerProfile", "Marketing_Manager")
        </li>
        <li>
            @Html.ActionLink("Manage Contributions", "ContributionsManagement", "Contributions")
        </li>
        <li>
            @Html.ActionLink("Report", "Report", "Marketing_Manager")
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
</div>



