

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snippet - BBBootstrap</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        .main-content {
            position: relative;
            margin-left: 240px;
        }

        .form-control:focus {
            box-shadow: none;
            border-color: #BA68C8;
        }

        .profile-button {
            background: #01474A;
            box-shadow: none;
            border: none;
        }
           
        .labels {
            font-size: 11px
        }

        .add-experience:hover {
            background: #BA68C8;
            color: #fff;
            cursor: pointer;
            border: solid 1px #fff;
        }
    </style>
</head>
<body class='snippet-body'>
    <div class="main-content">
        <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="" width="130"><span class="font-weight-bold">Hieu snip</span></div>                  
                </div>
                <div class="col-md-8">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h6 class="text-right">Profile</h6>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Account</label><input type="text" class="form-control" placeholder="account" value="hieusnip"></div>
                            <div class="col-md-6"><label class="labels">Start date</label><input type="text" class="form-control" value="date" placeholder="2/3/2020"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control" placeholder="name" value="Harry Huy"></div>
                            <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="email" value="snip123@gmail.com"></div>
                            <div class="col-md-12"><label class="labels">Phone</label><input type="text" class="form-control" placeholder="phone" value="0944332211"></div>
                            <div class="col-md-12"><label class="labels">Date of birth</label><input type="text" class="form-control" placeholder="dob" value="1/1/2000"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Role</label><input type="text" class="form-control" placeholder="role" value="Marketing manager"></div>
                            <div class="col-md-6"><label class="labels">Gender</label><input type="text" class="form-control" value="Not sure" placeholder="gender"></div>
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

