@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav flex-column">
            <li class="nav-item ">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { @class = "nav-link-danger ", title = "Manage", style = " Color:white; font-size:1.2rem" })
            </li>
        </ul>
    }
}
else
{
    <ul class="nav flex-column">
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link", id = "loginLink", style = " Color:red; font-size:1.2rem" })</li>
    </ul>
}
