@model IEnumerable<Enterprise_Web.Models.Contribution>

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
  
}



<script src="~/Scripts/chart/highcharts.js"></script>


<div class="jumbotron">
    <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>  
</div>
<div class="container">
    @Html.Hidden("Contribution", "Selected", "Pending")

    <h2>Contribution Report</h2>
  
</div>
    <script>
        $(document).ready(function () {
            $.getJSON("/Report/GetDataTable", function (data) {
                var Con_data = '';
                $.each(data, function (key, value) {
                    var value = Con_data.getElementById("total").value;
                    var value = Con_data.getElementById("selected").value;
                    var value = Con_data.getElementById("pending").value;
                });
                $('Con_table').append(Con_data);
            });
            $.getJSON("/Report/GetDataChart", function (data){
                Highcharts.chart('container', {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                    },
                    title: {
                        text: 'Contribution Ratio'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Brands',
                        colorByPoint: true,
                        data: [{
                            name: 'Bussiness Administation',
                            y: data.BusinessAdministration
                        }, {
                           name: 'Event Management',
                            y: data.EventManagement
                        }, {
                            name: 'Graphic Design',
                            y: data.GraphicDesign
                        }, {
                            name: 'Information Technology',
                            y: data.InformationTechnology
                        }]
                    }]
                });
            });
        });
    </script>
