
@{
    ViewBag.Title = "StudentDashBoard";
}

<h2>StudentDashBoard</h2>

<div class="list-group">
    <ul style=" font-size: 20px; list-style-image: url('../../Images/list24.png')">
        <li>
            @Html.ActionLink("My profile", "StudentProfile", "Students")
        </li>
        <li>
            @Html.ActionLink("Manage Contributions", "ManageContributions", "Studentss")
        </li>
    </ul>
</div>


